

// .header__box {
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
//     align-items: center;
//     padding-left: 2em;
//     padding-right: 2em;
//     margin-top: 1em;
// }

// .Header__box__tools {
//     display: flex;
//     width:auto;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     margin-right: 2em;
// }

// .header__logo {
//     min-width: 30em;
//     max-width: 35em;
//     fill: rgb(0, 136, 206);
//     margin-right: 2em;
// }

.header__box {
    display: flex;
    height: 48px;
    background-color: $carbone;
    color: $blanc;
    width: 100vw;
    align-items: center;
}

.header__logo_sncf {
    max-height: 100%;
}

img {
    height: 40px;
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.placeholder__burger {
    height: 48px;
    width: 48px;
}

.header__site-name {
    display: inline-block;
    font-family: $wcs-font-sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content :center;
    margin-left: 20px;
    margin-right:20px;
}

.header__wrapper__growing {
    display: inline-block;
    font-family: $wcs-font-sans-serif;
    min-width: 80px;
    flex-grow: 3;
}

.header__welcome-user {
    display: inline-block;
    font-family: $wcs-font-sans-serif;
    margin-right: 30px;
}

