.empty__main {
  background-color: lightgray;
  border-radius: 10px;
  margin: 0 .7em .7em 0;
  @include tablet-p_phone-l {
    margin: 0;
    border-radius:0;
  }
}

.empty__board {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: calc(100vw - 228px);
  @include tablet {
    width: calc(100vw - 88px);
  }
  @include tablet-p_phone-l {
    width: 100vw;
  }
  @include phone-p {
    width: 100vw;
  }

  height: calc(100vh - 133px);
  @include tablet {
    height: calc(100vh - 119px);
  }
  @include tablet-p_phone-l {
    height: calc(100vh - 48px);
  }
  @include phone-p {
    height: calc(100vh - 48px);
  }
}
