.landing-logo__login {
    position: absolute;
}

.landing__bg {
    position: absolute;
    height:96%;
    width: 100%;
    min-width: 320px;
    min-height: 90vh;
    background-color: rgb(205, 205, 205);
}

.login__wrapper {
    position: relative;
    top: 20vh;
    @include landscape-phone {
    top: 10vh;
    }
}

.login__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
}

.login__form__label {
    display: inline-block;
    width: 8em;
    text-align: right;
    margin-right: 1em;
    //@include phone {
    //    text-align: left;
    //}
}

.login__form__item {
    text-align: center;
    margin: 1em;
}

.login__form__button {
    margin: 1em;
    align-self: center;
}




