.navbar__box {
    display: flex; 
    height: 2.5em;
    background-color: lightgray;
    border-radius: 0.8em;
    align-items: center;
    margin: 1em;

}

.navbar__box__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.toolbar__element {
    display: flex;
    color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    // height: 2em;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 2em;
}

.navbar__li i {
    height: 1.8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.navbar__li p {
    margin-right: 0.5em;
}


