//.landing-logo__register {
//    height: 20vw
//}


.register_wrapper {
    position: relative;
    top: 15%;
    left: 12%;
    display: flex;
    width: 100vw;
    justify-content: center;
    @include portrait-phone {
        left: 0%;
        top: 3%;
    }
    @include landscape-phone {
        left: 0%;
        top: 0%;
        height: 92%;
    }
}
.register_box {
    position: relative;
    //transform: translateY(-12vw);
    max-width: 380px;
    padding: 1rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: 16px;
    @include portrait-phone {
        width: 100%;
        max-width: 100%;
        margin: 0.5rem;
        justify-content: space-between;
        max-height: 100%;
    }
    @include landscape-phone {
        width: 100%;
        max-width: 100%;
        margin: 0.5rem;
        justify-content: space-between;
        max-height: 100%;
    }
}

.register_box h1{
    padding: 0;
    margin: 0.5rem;
    @include landscape-phone {
        max-width: 40%;
    }
}

.register_form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 1rem;
    @include landscape-phone {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.register__form__element {
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
    @include landscape-phone {
        width: 40vw;
    }
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 1.2em;
  padding: 0.25rem;
  border-radius: 0.5rem;
}


.login__button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.to-connect {
    text-align: center;
}
.register__ask-registered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include landscape-phone {
        flex-direction: row;
    }
}
.register__ask-registered p, link {
    margin: 0em;
    padding: 0em;
    margin-right: 1rem;
}
.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.tologin {
    text-align: center;
}

.btn_valid {
    margin-top: 1.5rem;
    width: 10rem;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
}

.register__form__firstname {
    @include landscape-phone {
        order: 1;
    }
}
.register__form__lastname {
    @include landscape-phone {
        order: 3;
    }
}
.register__form__email {
    @include landscape-phone {
        order: 5;
    }
}
.register__form__password {
    @include landscape-phone {
        order: 2;
    }
}
.register__form__repassword {
    @include landscape-phone {
        order: 4;
    }
}
.register__form__button {
    @include landscape-phone {
        order: 6;
    }
}


