.sidebar__box {
    display: flex;
    height: 30em;
    width: 12em;
    background-color: lightgray;
    border-radius: 0.8em;
    align-items: flex-start;
    margin: 0em .7em .6em .8em;
    @include for-tablet-landscape-down {
        width: 3.5rem;
        margin: .7em .7em .6em .8em;
    }
    @include for-phone-only {
        display: none;
    }
}

.sidebar__box__ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: .5em;
}

.sidebar__element {
    display: flex;
    color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 1.8em;
    align-items: center;
    text-decoration: none;
    // padding-top: 1em;
}

.sidebar__li {
    padding: 0.5em;
}
.sidebar__li i {
    height: 1.7em;
    margin-right: 0.5em;
    fill: rgb(80,80,80);
    fill-rule: nonzero;
}

.sidebar__li p {
    display: block;
    @include for-tablet-landscape-down {
        display: none;
    }
}

