.toolbar__box {
    display: flex; 
    height: 2.5em;
    background-color: lightgray;
    border-radius: 0.8em;
    justify-content: flex-end;
    align-items: center;
    margin: 1.5em .7em .6em 0em;
    @include for-tablet-landscape-down {
        margin: .7em .7em .6em 0em;
        flex-grow: 100;
    }
    @include for-phone-only {
        display: none;
    }
}

.toolbar__box__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.toolbar__element {
    display: flex;
    color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 2em;
    align-items: center;
    text-decoration: none;
    margin-right: 1em;
}

.toolbar__li i {
    height: 1.6em;
    // margin-left: 0.5em;
    margin-right: 0.5em;
}

.toolbar__li p {
    margin-right: 0.5em;
}

i {
    height: 1.5em;
    width: 1.8em;
    fill: rgb(80,80,80);
    fill-rule: nonzero;
}

