.user-list-tile {
    display: block;
    //height: 7em;
    height: 10rem;
    width: 20rem;
    flex-grow: 1;
    background-color: #999999;
    border-radius: .5em;
    margin: 1rem;
}

.user-list-tile ul {
    font-size: 1em;
    font-weight: 100;
}

.user-list-tile p {
    margin: .7rem;
}

.searchForm {
    text-align: center;
    margin: 1.5rem 1rem .5rem 1rem;
}

.user-list__title {
    margin: 0 0 0 4vw;
    @include phone-p {
        //text-align: center;
        display: none;
    }
}

.user-list__main {
    //width: 100%;
    overflow: hidden;
}

.user-list__board {
    display: flex;
    flex-wrap: wrap;
    //width:96%;
    margin: 0;
    padding: 0;
    //justify-content: start;
    overflow: scroll;
    //height: 70vh;
    max-height: calc(100vh - 220px);
    //flex:6;
    //flex-grow: 1;
    //min-height: 0;
    @include tablet {
        max-height: calc(100vh - 207px);
    }
    @include tablet-p_phone-l {
        max-height: calc(100vh - 147px);
    }
    @include tablet {
        max-height: calc(100vh - 136px);
    }
}