.user-list-tile {
    display: block;
    //height: 7em;
    height: 13rem;
    width: 43%;
    min-width: 20rem;
    background-color: #999999;
    border-radius: .5em;
    margin: 1rem;
}

.user-list-tile ul {
    font-size: 1em;
    font-weight: 100;
}

.user-list-tile p {
    margin: .7rem;
}

.searchForm {
    text-align: center;
    margin: 2rem 1rem .5rem 1rem;
}

.user-list__title {
    margin: 0 0 0 4vw;
    @include phone-p {
        text-align: center;
    }
}

.user-list__main {
    width: 100%;
    overflow: hidden;
}

.user-list__board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    justify-content: start;
    overflow: auto;
    height: 60vh;
    //flex:6;
    //flex-grow: 1;
    //min-height: 0;
}