.workspace {
    display: flex;
    width: 100vw;
}

.workspace__logo {
    display: flex;
    fill: blue;
    width: 12em;
    height: 3em;
    padding:.8em;
}

.workspace__side__right__wrapper {
    display: flex;
    width: 13.5em;
    flex-direction: column;
    align-items: flex-start;
    // margin: .7em .7em .6em .8em;
}
.workspace__body {
    display: flex;
    flex-direction: column;
    flex-grow: 100; 
}
.workspace__head {
    display: flex;
    justify-content: flex-end;
}

.workspace__main {
    display: flex;
    // flex-direction: column;
    flex-grow: 100; 
}

.component__box {
    display: flex;
    background-color: lightgray;
    width: 100%;
    border-radius: 10px;
    margin: 0em .7em .7em 0em;
}

